@import url('https://fonts.googleapis.com/css?family=Teko|BenchNine|Chela+One');

body {
  font-family: Arial, Helvetica, sans-serif;
}

td {
  border: 1px solid black;
  width: 120px; height: 120px;
  font-size: 100px;
  text-align: center;
  background-color: #1d566e;
  color: white;
}

h1 {
  font-size: 30px;
  text-align: center;
  cursor: pointer;
}

h2 {
  position: relative;
  width: 100%;
  text-align: center;
}

.anagram {
  padding: 2px;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 5;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.anagram:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


.letter {
  display: inline-block;
  color: #45eba5;
  font-size: 30px;
  cursor: pointer;
  vertical-align: top;
  width: 50%;
  font-family: 'Chela One', cursive;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

#vowel {
   border: 1px solid black;
   background-color: #45eba5;
   color: black;
   height:60px;
   width:200px;
   border-radius: 7px;
   padding-top:10px;
   margin-left: 280px;
   -webkit-user-select:none;
   -moz-user-select:none;
   -ms-user-select:none;
   user-select:none;
   transition: all .3s ease-in-out;
}

#vowel:hover { 
  border: 1px solid #21aba5;
  background-color: #163a5f;
  transform: scale(1.05);
  color: white;
}


#consonant {
   border: 1px solid black;
   background-color: #45eba5;
   color: black;
   height:60px;
   width:275px;
   border-radius: 7px;
   margin-left: -10px;
   padding-top:10px;
   transition: all .3s ease-in-out;
}

#consonant:hover { 
  border: 1px solid #21aba5;
  background-color: #163a5f;
  transform: scale(1.05);
  color: white;
}

#board {
  margin-left: auto;
  margin-right: auto;
}

#timer {
  border: 2px solid black;
  background-color: #45eba5;
  height:150px; width:150px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  text-align: center;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  transition: all .3s ease-in-out;
  border-radius: 5px;
}

#timer:hover { 
  border: 2px solid black;
  background-color: #163a5f;
  transform: scale(1.05);
  color: white;
}

#timer:active {
  background-color:tomato;
}

/* #timer:hover #start {
 color: white;
}

#timer:hover #num {
  color: white;
 } */

 .button {
  font-family: 'Chela One', cursive;
  position: absolute;
  border: 1px solid black;
  background-color: #45eba5;
  width: 170px;
  margin-left: 1088px;
  margin-top: -75px;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  transition: all .3s ease-in-out;
  border-radius: 4px;
}

.button:hover {
  color: white;
  background-color: #163a5f;
  transform: scale(1.05);
 }

#start {
  padding-top: 15px;
  font-size: 30px;
  font-family: 'Chela One', cursive;
}

#num {
  font-size: 75px;
  font-family: 'Chela One', cursive;
}

#search {
  display:block;
  max-width: 256px;
  position: relative;
  text-align: right;
  flex: 0 0 auto;
}

#search input,
#search button {
  display: inline-block;
  line-height: 2rem;
  margin: 0;
	outline: none;
  padding: 0;
  vertical-align: top;
}

#search input {
  border: 1px solid black;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 0.875rem;
  padding: 0 60px 0 12px;
  width: 100%;
  text-align: right;
  color: #163a5f;
  font-size: 20px;
}

#search button {
  background-color: #45eba5;
  border: 1px solid black;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  color: white;
  font-size: 0.75rem;
  position: absolute; top: 0; right: 0;
  text-align: center;
  width: 48px;
}

#container {
  max-width: 1024px;
  margin: auto;
  padding: 0;
  position: relative;
}

.column {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  position: relative;
  float: left;
}

.correct {
  font-weight: bold;
  font-size: 30px;
  font-weight: 800;
  padding: 6px;
  text-align: right;
  margin-right: 200px;
}

.wrong {
  text-decoration: line-through;
  color:#ff5e42;
  font-size: 30px;
  font-weight: 800;
  padding: 6px;
  text-align: right;
  margin-right: 200px;
}

.entry {
  font-size: 30px;
  font-weight: 800;
  padding: 6px;
  text-align: right;
  margin-right: 200px;
}

#entries {
  position: relative;
  width: 400px;
  color: #163a5f;;
  left: -100px;
}

#list {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #163a5f;
  color: white;
  position: absolute;
  float: left;
  width: auto;
  left: 240px;
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: 200;
  border-radius: 5px;
}

#words {
 text-align: center;
 padding-top: 20px;
 position: relative;
 float: left;
}

.listCol {
  display: inline;
  width: auto;
  float:left;
  position: relative;
}
#defContainer {
  width: auto;
  font-size: 22px;
  margin: auto;
  text-align: center;
  padding-bottom: 5px;
}

#word {
  font-weight: bold;
}

#pos {
  font-style: italic;
  font-size: 16px;
}

#def {
  font-size: 18px;
}

#score {
  font-family: 'Chela One', cursive;
  position: absolute;
  padding: 10px;
  top: 5px;
  left: -65px;
  font-size: 30px;
}

#instructions {
  float: left;
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
  font-weight: bold;
  margin-left: 26px;
  margin-top: 15px;
}

.best {
  color: #45eba5; 
  font-family: 'Chela One', cursive;
  font-size: 45px;
}

.points {
  color: #45eba5; 
}